<!-- TODO: Move this to a separate CSS -->
<style type="text/css">
h1 {
  padding-top: 100px;
  text-align: center;
}

#button {
  padding-top: 100px;
  margin: 0 auto;
  text-align: center;
}

.bon {
  width: 200px;
  height: 20px;

}
</style>

<h1> Mobile Captain Foursquare SMB Manager </h1>

<div id="button">
  <a class="bon" href="http://localhost:4567/auth/foursquare">
    Login with Foursquare
  </a>
</div>
